.add_contact {
    max-width: 100%;
}

.add_contact form {
    color: rgb(95, 140, 255);
    font-weight: 600;
    width: 100%;
}

/* .contact_img_preview {
    width: 100%;
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact_img_preview div {
    width: 33%;
    height: 20vh;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_img_preview div img {
    width: 100%;
    border-radius: 5px;
}

.add_contact form div:last-of-type input {
    display: block;
    margin: 0.5em auto;
} */

@media (min-width: 768px) {

    .add_contact form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .add_contact form div {
        min-width: 45%;
    }

    /* .contact_img_preview div {
        min-height: 30vh;
        min-width: 20% !important;
        width: 30%;
    } */
    
}

@media (min-width: 1024px) {

    .add_contact {
        margin: auto;
    }

    .add_contact form {
        align-items: center;
        margin: auto;
    }

    .add_contact form div {
        min-width: 100%;
    }
}
