.add_contact {
    max-width: 100%;
}

.add_contact form {
    color: rgb(95, 140, 255);
    font-weight: 600;
    width: 100%;
}

@media (min-width: 768px) {

    .add_contact form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .add_contact form div {
        min-width: 45%;
    }
    
}

@media (min-width: 1024px) {

    .add_contact {
        margin: auto;
    }

    .add_contact form {
        align-items: center;
        margin: auto;
    }

    .add_contact form div {
        min-width: 100%;
    }
}
