.contact {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: .5em;
}


/* .contact_photo {
    height: 100%;
    width: 33%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_photo img {
    height: 100%;
    border-radius: 5px;
} */


.contact_info {
    height: 90%;
    width: 90%;
    padding: 0, .5em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_info p:first-of-type {
    font-weight: 600;
}

.contact_info p{
    color: rgb(55, 110, 255);
    margin: 0;
    font-size: .85em;
    word-wrap: break-word;
}

.contact_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact_buttons Button {
    width: 65%;
    font-size: .75em;
    font-weight: 400;
    padding: 0;
}

.contact_buttons Button:last-of-type {
    width: 30%;
    background-color: tomato;
}

.contacts h2 {
    color: rgb(95, 140, 255);;
    margin: 1em auto;
    text-align: center;
}


@media (min-width: 768px) {

    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .contact {
        width: 45%;
    }
}



