.button {
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 1em;
    background-color: rgb(95, 160, 255);
    border: none;
    border-radius: 5px;
    height: 2.5em;
    margin-top: 1em;
}

.button:hover {
    background-color: rgb(95, 120, 255);
    cursor: pointer;
}

.button:focus {
    outline: none !important;
}